.naviContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bgNaviContainer);
    box-shadow: 0 -2px 8px 0 rgba(0,0,0,.15);
    height: var(--heightNaviContainer);
    backdrop-filter: blur(4px);
    // background-color: var(--bgHeader);
    color: var(--fontColorHeader);
    
    li {
        display: inline-block;
        border-right: 1px solid green;
        
        &:last-child {
            border: none;
        }

        &.current {
            svg {
                fill: var(--bgIconActive);
            }
        }
    }

    a {
        color: var(--fontColorNaviContainer);
        display: block;
        width: 100%;
        text-align: center;
    }

    .svgContainer {
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    svg {
        width: 100%;
        height: 100%;
        fill: var(--bgIcon);
    }

    .label {
        &::before {
            content: "\A";
            white-space: pre;
        }
    }
}