$colorTurquoise: #0EDFDF;
$colorGray: #575757;

// $colorBackground: green;
// $colorSurface: green;
// $colorPrimary
// $colorSecondary
// On background
// On Surface
// On Primary
// On Secondary

:root {
    --colorTurquise: #b5fbff;
    --colorGray: #575757;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        // background colors
        // --bgColor[element]
        --bgBody: rgb(32,33,36);
        // --bgHeader: rgba(102, 255, 255, 0.7);
        --bgSurfaceBox: rgb(40,41,44);
        --bgIcon: rgb(151, 155, 150);
        --bgIconActive: #0EDFDF;

        --bgNaviContainer: rgb(48, 49, 52);

        // font colors
        // --fontColor[element]
        --fontColorBody: #{$colorTurquoise};
        --fontColorHeader: #fff;
        --fontColorH1: rgb(254, 254, 254);
        --fontColorFooter: #fff;
        --fontColorSurfaceBox: rgb(245,246,247);
        --fontColorIcon: #fff;

        --fontColorNaviContainer: rgb(151, 155, 150);

        // border colors
        // --borderColor[element]
        --borderFooter: rgb(150,154,159);


        --boxShadowSurfaceBox: none;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        // background colors
        // --bgColor[element]
        --bgBody: rgb(255,255,255);
        // --bgHeader: rgba(102, 255, 255, 0.7);
        --bgSurfaceBox: #fff;
        --bgIcon: rgb(96, 99, 104);
        --bgIconActive: #66ffff;
        
        --bgNaviContainer: rgb(255, 255, 255);
        
        // font colors
        // --fontColor[element]
        --fontColorBody: #{$colorGray};
        --fontColorHeader: #000;
        --fontColorH1: rgb(0,0,0);
        --fontColorFooter: #000;
        --fontColorSurfaceBox: #000;
        --fontColorIcon: #000;

        --fontColorNaviContainer: rgb(96, 99, 104);

        // border colors
        // --borderColor[element]
        --borderFooter: rgb(89,93,97);


        --boxShadowSurfaceBox: 0 2px 8px 0 rgba(0,0,0,.15);
    }
}
