body {
    font-family: verdana, geneva, tahoma, arial, sans-serif;
    margin-bottom: var(--heightNaviContainer);
}

h1 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--fontColorSurfaceBox);
}