<!DOCTYPE html>
<html>
    <head>
        <base href="">
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href="./../../src/css/screen.min.css">
    </head>
    <body>
        <div id="wrapper">
            <div class="naviContainer">
                <nav v-if="naviItems.length">
                    <ul>
                        <navi-item
                            v-for="naviItem in naviItems"
                            v-bind:calc-width="naviItems.length"
                            v-bind:label="naviItem.label"
                            v-bind:url="naviItem.url"
                        >
                            <template v-slot:svg-container>
                                <div class="svgContainer" v-html="naviItem.svg"></div>
                            </template>
                        </navi-item>
                    </ul>
                </nav>
            </div>
    
            <section>
                <div class="onBackgroundBox">
                    <h1>Headline Start</h1>
                </div>
                <div class="surfaceBox">
                    article 1
                    <br/>
                    <a href="test.html">Test.html</a>
                    <br/>
                    <span class="icon">svg color</span>
                </div>
                <div class="surfaceBox">
                    article 2
                    <br/>
                    <span class="icon">svg color</span>
                </div>
            </section>
        </div>
        <footer>
            footer
        </footer>
        <script src="./../../src/js/vue.js"></script>
        <script src="./../../src/js/modules/naviContainer.js"></script>
        <script src="./../../src/js/custom.js"></script>
    </body>
</html>
